<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moexc.ddd.infrastructure.dao.PaymentRecordsEntityMapper">
  <resultMap id="BaseResultMap" type="cn.moexc.ddd.domain.entity.PaymentRecordsEntity">
    <!--@mbg.generated-->
    <!--@Table PAYMENT_RECORDS-->
    <id column="PAYMENT_ID" jdbcType="VARCHAR" property="paymentId" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="PAYMENT_NUMBER" jdbcType="VARCHAR" property="paymentNumber" />
    <result column="PAYMENT_MONEY" jdbcType="DECIMAL" property="paymentMoney" />
    <result column="PAYMENT_TIME" jdbcType="TIMESTAMP" property="paymentTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    PAYMENT_ID, CONTRACT_ID, PAYMENT_NUMBER, PAYMENT_MONEY, PAYMENT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from PAYMENT_RECORDS
    where PAYMENT_ID = #{paymentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from PAYMENT_RECORDS
    where PAYMENT_ID = #{paymentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.moexc.ddd.domain.entity.PaymentRecordsEntity">
    <!--@mbg.generated-->
    insert into PAYMENT_RECORDS (PAYMENT_ID, CONTRACT_ID, PAYMENT_NUMBER, 
      PAYMENT_MONEY, PAYMENT_TIME)
    values (#{paymentId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, #{paymentNumber,jdbcType=VARCHAR}, 
      #{paymentMoney,jdbcType=DECIMAL}, #{paymentTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.moexc.ddd.domain.entity.PaymentRecordsEntity">
    <!--@mbg.generated-->
    insert into PAYMENT_RECORDS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paymentId != null">
        PAYMENT_ID,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="paymentNumber != null">
        PAYMENT_NUMBER,
      </if>
      <if test="paymentMoney != null">
        PAYMENT_MONEY,
      </if>
      <if test="paymentTime != null">
        PAYMENT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paymentId != null">
        #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="paymentNumber != null">
        #{paymentNumber,jdbcType=VARCHAR},
      </if>
      <if test="paymentMoney != null">
        #{paymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.moexc.ddd.domain.entity.PaymentRecordsEntity">
    <!--@mbg.generated-->
    update PAYMENT_RECORDS
    <set>
      <if test="contractId != null">
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="paymentNumber != null">
        PAYMENT_NUMBER = #{paymentNumber,jdbcType=VARCHAR},
      </if>
      <if test="paymentMoney != null">
        PAYMENT_MONEY = #{paymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null">
        PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PAYMENT_ID = #{paymentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.moexc.ddd.domain.entity.PaymentRecordsEntity">
    <!--@mbg.generated-->
    update PAYMENT_RECORDS
    set CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      PAYMENT_NUMBER = #{paymentNumber,jdbcType=VARCHAR},
      PAYMENT_MONEY = #{paymentMoney,jdbcType=DECIMAL},
      PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP}
    where PAYMENT_ID = #{paymentId,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-07-13-->
  <select id="selectByContractId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PAYMENT_RECORDS
        where CONTRACT_ID=#{contractId,jdbcType=VARCHAR}
    </select>
</mapper>